{% extends "detail_base.html" %}
{% load avatar_tags group_avatar_tags %}

{% block title %}群组发帖{% endblock %}
{% block head_other %}
    {{ block.super }}
    <style type="text/css">
{#        .box {#}
{#            margin: 0 0 25px;#}
{#            clear: both;#}
{#            border-radius: 4px;#}
{#            border: 2px solid #ddd;#}
{#            box-shadow: 0 1px 0 #f2f4f5;#}
{#        }#}
{##}
{#        .box-module {#}
{#            position: relative;#}
{#            padding: 20px 12px;#}
{#        }#}
{##}
{#        .box-module+.box-module {#}
{#            border-top: 1px solid #ddd;;#}
{#        }#}

        .empty-error {
            background-color: #da4f49;
        }
    </style>
{% endblock %}

{% block left_content %}
    <form method="post" id="new-topic-form">
        <div class="row-fluid box">
            <div class="box-module">
                <div class="row-fluid">
                    <div class="span3">
                        <span class="text-info"><span class="mustin">*</span>{{ form.name.label }}</span>
                    </div>
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span12">
                                {{ form.group }}
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="" id="add-image">上传图片</a>
                                {% for i in images %}
                                    <span>
                                        [{{ i.get_topic_image_name }}]
                                        <a class="delete-image" data-image-id="{{ i.id }}"><i class="icon-trash"></i></a>
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-module">
                <div class="row-fluid">
                    <div class="span3">
                        <span class="text-info"><span class="mustin">*</span>{% avatar request.user %}</span>
                    </div>
                    <div class="span9">
                        {{ form.content }}
                    </div>
                </div>
            </div>
            <div class="box-module">
                <div class="row-fluid">
                    <div class="span3">
{#                        <span class="text-info"><span class="mustin">*</span>{% avatar request.user %}</span>#}
                    </div>
                    <div class="span9">
                        <div class="span6">
                            {% csrf_token %}<input type="submit" class="btn btn-primary btn-block" id="id-submit">
                        </div>
                        <div class="span6">
                            <input type="reset" class="btn btn-info btn-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- modal for apply reason -->
    <div class="modal hide fade" id="add_image_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>添加图片</h3>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" id="add-image-form">
                {% csrf_token %}
                {{ imageForm.image }}
            </form>
        </div>
        <div class="modal-footer">
            <button id="add-image-modal-cancel" class="btn">取消</button>
            <button id="add-image-modal-button" class="btn btn-primary" data-topic-id={{ g.id }}>上传</button>
        </div>
    </div>
{% endblock %}


{% block right_content %}
    <div class="row-fluid left-list">
        <div class="span12"><a href="{% url 'group_detail' group_id=g.id %}?type=recent">{% group_avatar g %}</a></div>
        <div class="span12"><a href="{% url 'group_detail' group_id=g.id %}?type=recent">返回{{ g.name  }}</a></div>
    </div>
{% endblock %}

{% block js_other %}
    <script type="text/javascript">
        $("#id-submit").on('click', function (e) {
            e.preventDefault();
            var pass_check = true;
            $('.required').each(function () {
                if (!$(this).val()) {
                    $(this).parents('.box-module').addClass("empty-error");
                    $.globalMessenger().post({
                        message: "以*号标注的项不能为空!",
                        hideAfter: 2,
                        type: 'error',
                        showCloseButton: true
                    });
                    pass_check = false;
                    return false;
                }
            });
            if (pass_check) {
                $("#new-topic-form").submit();
            }
        });
        $("#add-image").click(function(e){
            e.preventDefault();
            $("#add_image_modal").modal();
        });
        $("#add-image-modal-cancel").click(function(){
            $("#add_image_modal").modal("hide");
        });
        $("#add-image-modal-button").click(function(){
            $("#add-image-form").submit();
        });
        // 删除上传的图片
        $(".delete-image").click(function(e){
            e.preventDefault();
            if (confirm("确认删除?")){
                $.ajax({
                    async: false,
                    url: "{% url 'ajax_delete_topic_image' %}",
                    type: "POST",
                    data: {"image_id": $(this).data("image-id")},
                    dataType: "json",
                    success: function(){location.reload();}
                })
            }
        })
    </script>
{% endblock %}