{% extends "group_avatar/base.html" %}
{% load i18n group_avatar_tags %}
{% load url from future %}

{% block head_other %}
    <style type="text/css">
    .group_avatar img{
        padding-bottom: 14px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="row-fluid profile-box">
        <div class="profile-box-module">
            <div class="span5">
                <div class="row-fluid">
                    <div class="span4"><span class="text-info ">当前头像</span></div>
                    <div class="span8 group_avatar">{% group_avatar group %}</div>
                </div>
            </div>
            <div class="span7">
                {% if not group_avatars %}
                    <p class="text-info">群组还没有上传头像.现在就上传一个吧!</p>
                {% endif %}
                <form enctype="multipart/form-data" method="POST" action="{% url 'group_avatar_add' group_id=group.id %}">
                    <div class="row-fluid">
                        <div class="span6">{{ upload_group_avatar_form.group_avatar }}</div>
                        <div class="span6">{% csrf_token %}<input class="btn btn-primary" type="submit" value="上传头像" /></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
