{% extends "avatar/base.html" %}
{% load i18n %}
{% load url from future %}

{% block head_other %}
    <style type="text/css">
    .choices span ul li{
        display: inline-table;
        margin-left: 5px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="row-fluid profile-box">
        <div style="text-align: center;"><h3 class="text-info">请选择你想要删除的头像</h3></div>
        <div class="profile-box-module">
            <div class="span12">
                {% if not avatars %}
                    {% url 'avatar_change' as avatar_change_url %}
                    <p class="muted">{% blocktrans %}你还没有头像.赶紧 <a href="{{ avatar_change_url }}">上传</a> 一个吧.{% endblocktrans %}</p>
                {% else %}
                    <form method="POST" action="{% url 'avatar_delete' %}">
                        <div class="row-fluid">
                            <div class="span8 choices">
                                {% for avatar in delete_avatar_form.choices %}
                                    <span>{{ avatar }}</span>
                                {% endfor %}
                            </div>
                            <div class="span4">{% csrf_token %}<input class="btn btn-primary" type="submit" value="删除选中" /></div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
