{% extends 'group_base.html' %}
{% load group_avatar_tags group_tags %}

{% block title %}{{ g.name }}--详情{% endblock %}

{% block head_other %}
    <style type="text/css">
    .right_content{
        margin: 10px 0 10px 0;
    }
    .left-list{
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px 0 10px 0;
    }
    .box{
        margin: 0 0 25px;
        clear: both;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 0 #f2f4f5;
    }
    .box-module{
        position: relative;
        padding: 20px 12px;
    }
    .avatar img{
        padding-left: 30px;
    }
    .avatar button{
        margin-top: 10px;
    }
    </style>
{% endblock %}

{% block right_content %}
    <div class="container-fluid right_content">
        <div class="row-fluid box">
            <div class="box-module">
                <div class="row-fluid">
                    <div class="span3 avatar">
                        <div class="row-fluid">
                             <a href="">{% group_avatar g %}</a>
                        </div>
                        <div class="row-fluid">
                            <button id="quit_group" class="btn btn-primary btn-block" data-group-id={{ g.id }}>退出群组</button>
                            <button id="join_group" class="btn btn-primary btn-block" data-group-id={{ g.id }}>加入群组</button>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span3 text-info">名称</div>
                            <div class="span9">{{ g.name }}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-info">分类</div>
                            <div class="span9">{{ g.category }}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-info">地点</div>
                            <div class="span9">{{ g.name }}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-info">类型</div>
                            <div class="span9">{% group_type g.group_type %}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-info">简介</div>
                            <div class="span9 text-warning">{{ g.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid friend-group">
    {# TODO:友情小组 #}
    </div>
{% endblock %}

{% block js_other %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/join_group_detail.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/quit_group_detail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% if is_member %}
                $("#join_group").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
            {% else %}
                $("#quit_group").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
            {% endif %}
        })
    </script>
{% endblock %}