{% extends 'group_base.html' %}
{% load group_avatar_tags %}

{% block title %}我的管理群组{% endblock %}

{% block head_other %}
    {{ block.super }}
    <style type="text/css">
    .right_content{
        margin: 10px 0 10px 0;
    }
    .box{
        margin: 0 0 25px;
        clear: both;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 0 #f2f4f5;
    }
    .box-module{
        position: relative;
        padding: 20px 12px;
    }
    .avatar img{
        padding-left: 20px;
    }
    </style>
{% endblock %}

{% block left_content %}
    {{ block.super }}
    <div class="create-group">
    <a href="{% url 'new_group' %}"><i class="icon-plus"></i>申请创建群组</a>
    </div>
{% endblock %}

{% block right_content %}
    <div class="container-fluid right_content">
        {% for g in groups %}
        <div class="row-fluid box">
            <div class="box-module">
                <div class="row-fluid">
                    <div class="span3 avatar">
                    <a href="{% url 'group_detail' group_id=g.id %}">{% group_avatar g %}</a>
                    </div>
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span4 text-info">群组名称</div>
                            <div class="span8"><a href="{% url 'group_detail' group_id=g.id %}">{{ g.name }}</a></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 text-info">分类</div>
                            <div class="span8">{{ g.category }}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 text-info">群组地点</div>
                            <div class="span8">{{ g.name }}</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 text-warning">{{ g.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}