{% extends 'group_base.html' %}

{% block title %}我的群组{% endblock %}

{% block head_other %}
    <style type="text/css">
    .left-list{
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px 0 10px 0;
    }
    </style>
{% endblock %}

{% block left_content %}
    <ul class="nav nav-list left-list">
        <li class="nav-header">群组</li>
        <li><a href="">我管理的群组<i class="icon-chevron-right pull-right"></i></a></li>
        <li><a href="">我加入的群组<i class="icon-chevron-right pull-right"></i></a></li>
        <li class="nav-header">话题</li>
        <li><a href="">我的最新话题<i class="icon-chevron-right pull-right"></i></a></li>
        <li><a href="">我回复的话题<i class="icon-chevron-right pull-right"></i></a></li>
        <li><a href="">我发表的话题<i class="icon-chevron-right pull-right"></i></a></li>
    </ul>
    <ul class="nav nav-list left-list">
        <li class="nav-header">常去的群组</li>
        <li>群组头像</li>
        <li>群组头像</li>
        <li>群组头像</li>
    </ul>
    <ul class="nav nav-list left-list">
        <li class="nav-header">为你推荐</li>
        <li>群组头像</li>
        <li>群组头像</li>
        <li>群组头像</li>
    </ul>

    <div class="create-group">
    <a href="{% url 'new_group' %}"><i class="icon-plus"></i>申请创建群组</a>
    </div>
{% endblock %}

{% block right_content %}
    右侧显示对应的群组或者话题
{% endblock %}