{% extends 'people/member_info/base.html' %}

{% block member_pills %}
    <div class="row-fluid info-tab">
        <ul class="nav nav-pills">
            <li id="pills-groups">
                <a href="{% url 'info_view' tid=t_user.id %}#pill_link">他加入的群组</a>
            </li>
            <li id="pills-tadd">
                <a href="{% url 'm_add_topic' tid=t_user.id %}#pill_link">他发表的话题</a>
            </li>
            <li id="pills-reply" class="active">
                <a href="{% url 'm_reply_topic' tid=t_user.id %}#pill_link">他回复的话题</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block member_relate %}
    <div class="span12 m_group_joined">
    <table class="table m_group_list">
        <tbody>
        {% for t in reply_topics %}
            <tr>
            <td>
                <ul class="unstyled">
                    <li><h4><a href="{% url 'topic_detail' topic_id=t.id %}">{{ t.name|truncatechars:30 }}</a></h4></li>
                    <li>{{ t.content|truncatechars:45 }}</li>
                </ul>
            </td>
            </tr>
        {% empty %}
            <tr>
            <td>
                <h4 class="muted">还未回复任何话题!</h4>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}