{% extends 'base.html' %}
{% load avatar_tags %}
{% load bootstrap_toolkit %}

{% block head_other %}
    <style type="text/css">
        .right-list {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px 0 10px 0;
        }
        .topic{
            margin-bottom: 40px;
        }
        .topic-edit{
            margin-right: 23px;
        }
        .content{
            margin: 10px !important;
        }
        .reply-content{
            height: auto;
            margin-top: 10px;
        }
        .reply{
            float: right;
            margin-right: 20px;
        }
        .reply-quote{
            padding-left: 10px;
            margin-top: 15px;
        }
        .report{
            float: right;
        }
        .bg_reply{
            background-color: #e6e6e6;
        }
        .btn_submit{
            margin-right: 20px;
        }
        #id_content{
            height: 100px;
        }
        .right{
            width: 17% !important;
        }
        .jiathis_style{
            margin-bottom: 15px;
        }
        #report_topic_reason, #report_reply_reason{
            width: 500px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid content">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="pull-left">{{ topic.name }}</h3>
            </div>
        </div>
        <!-- 左侧 -->
        <div class="row-fluid left">
            <div class="span9">
                <div class="row-fluid topic">
                    <div class="span1 people_avatar" data-t_id="{{ topic.creator.id }}">
                        {% if request.user == topic.creator %}
                            <a href="{% url "profile_view" tid=topic.creator.id %}">{% avatar topic.creator 55 %}</a>
                        {% else %}
                            <a href="{% url "info_view" tid=topic.creator.id %}">{% avatar topic.creator 55 %}</a>
                        {% endif %}
                    </div>
                    <div class="span11">
                        <div class="row-fluid topic-item">
                            <span class="items span12 ">
                                <span class="muted">来自:</span>
                                <span class="text-success">
                                    {% if request.user == topic.creator %}
                                        <a href="{% url "profile_view" tid=topic.creator.id %}">{{ topic.creator }}</a>
                                    {% else %}
                                        <a href="{% url "info_view" tid=topic.creator.id %}">{{ topic.creator }}</a>
                                    {% endif %}
                                </span>
                                <span class="text-success">{{ topic.create_time|date:"Y-m-j H:i:s" }}</span>
                                <span class="report">
                                    <a href="{{ topic.id }}" class="report-topic muted">举报</a>
                                </span>
                                <span class="reply">
                                    <a href="#" class="reply-topic">
                                        回复
                                    </a>
                                </span>
                            </span>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                {% for i in topic.image.all %}
                                    <div><img src="{{ i.get_topic_image_url }}" style="width: 90%;margin-bottom: 20px"></div>
                                {% endfor %}
                                <div class="span11">{{ topic.content|linebreaksbr }}</div>
                            </div>
                            {% if request.user == topic.creator or request.user in topic.group.manager.all %}
                            <div class="span12">
                                <a href="{% url 'edit_topic' group_id=topic.group.id topic_id=topic.id %}" class="btn btn-link pull-right topic-edit">修改</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style row-fluid">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share"
                       class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis"
                       target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <!-- JiaThis Button END -->
                {% for r in replies %}
                    <div class="row-fluid">
                        <div class="span1 reply_avatar people_avatar" data-t_id="{{ r.creator.id }}"><a href="">{% avatar r.creator 55 %}</a></div>
                        <div class="span11 reply-content">
                            <div class="row-fluid reply-item">
                                <div class="span12 bg_reply">
                                    <span class="text-success"><a href="">{{ r.creator }}</a></span>
                                    <span class="text-success">{{ r.create_time|date:"Y-m-j H:i:s" }}</span>
                                    <span class="report">
                                        <a href="{{ r.id }}" class="report-reply muted">举报</a>
                                    </span>
                                    <span class="reply">
                                        <a href="#" class="reply-reply" data-reply_id="{{ r.id }}">
                                            回复
                                        </a>
                                    </span>
                                </div>
                            </div>
                            {% if r.reply %}
                                <div class="row-fluid">
                                    <div class="span12 muted reply-quote">
                                        <blockquote>{{ r.reply.content|linebreaksbr|truncatechars:50 }}
                                            <span>&nbsp;&nbsp;@
                                                {% if request.user == r.reply.creator %}
                                                    <a href="{% url "profile_view" tid=r.reply.creator.id %}">{{ r.reply.creator }}</a>
                                                {% else %}
                                                    <a href="{% url "info_view" tid=r.reply.creator.id %}">{{ r.reply.creator }}</a>
                                                {% endif %}
                                            </span>
                                        </blockquote>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row-fluid">
                                <div class="span12">{{ r.content|linebreaksbr }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if replies %}
                    {{ replies|pagination }}
                {% endif %}
                <div class="row-fluid">
                    <h4 class="muted">你的回复</h4>
                    <form method="post" id="reply-form">
                        <div class="span12">
                            {{ form.reply_id }}
                            {{ form.content }}
                        </div>
                        <div class="span12">
                            {% csrf_token %}
                            <input class="btn btn-primary btn-small pull-right btn_submit" type="submit" value="回复"/>
                        </div>
                    </form>

                </div>
            </div>

           <!-- 右边栏 -->
            <div class="span3 right">
                <div class="row-fluid">
                    <div class="span12"><span class="muted">返回</span><a href="{% url 'group_detail' group_id=topic.group.id %}?type=recent">{{ topic.group.name }}</a></div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {% if is_member and not is_manager %}
                        <span class="muted">我是群组成员</span>
                        {% elif not is_member %}
                            {% if topic.group.group_type == 'open' %}
                                <button id="join_group" class="btn btn-primary" data-group-id={{ g.id }}>加入群组</button>
                            {% elif topic.group.group_type == 'private' %}
                                <!-- button to tigger modal -->
                                <button id="apply_join_modal_trigger" class="btn btn-primary">申请加入群组</button>
                            {% endif %}
                        {% endif %}
                        {% if is_manager %}
                            <span class="muted">我是管理员</span>
                        {% elif is_member %}
                            <button id="apply_be_manager_modal_trigger" class="btn btn-primary">申请成为管理员</button>
                        {% endif %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table">
                            <caption class="pull-left">最新话题</caption>
                            <tbody>
                            {% for t in recent_topics %}
                                <tr>
                                <td><a href="{% url 'topic_detail' topic_id=t.id %}">{{ t.name|truncatechars:10 }}</a>
                                    <span class="muted"><small>({{ t.creator }})</small></span>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal for apply reason -->
    <div class="modal hide fade" id="apply_join_group_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>理由</h3>
        </div>
        <div class="modal-body">
            <textarea id="apply_reason" placeholder="不说几句很难通过申请哦......"></textarea>
        </div>
        <div class="modal-footer">
            <button id="apply_modal_close" class="btn">取消</button>
            <button id="apply_join_group" class="btn btn-primary" data-group-id={{ g.id }}>发送请求</button>
        </div>
    </div>

    <!-- modal for apply be manager reason -->
    <div class="modal hide fade" id="apply_be_manager_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>理由</h3>
        </div>
        <div class="modal-body">
            <textarea id="apply_be_manager_reason" placeholder="不说几句很难通过申请哦......"></textarea>
        </div>
        <div class="modal-footer">
            <button id="apply_be_manager_modal_close" class="btn">取消</button>
            <button id="apply_be_manager" class="btn btn-primary" data-group-id={{ g.id }}>发送请求</button>
        </div>
    </div>

    <!-- modal for topic report -->
    <div class="modal hide fade" id="report_topic_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>话题举报</h3>
        </div>
        <div class="modal-body">
            <textarea id="report_topic_reason" placeholder="请说明举报的原因......"></textarea>
        </div>
        <div class="modal-footer">
            <button id="report_topic_modal_close" class="btn">取消</button>
            <button id="report_topic_manager" class="btn btn-primary" data-topic-id={{ topic.id }}>举报</button>
        </div>
    </div>

    <!-- modal for reply report -->
    <div class="modal hide fade" id="report_reply_modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>回复举报</h3>
        </div>
        <div class="modal-body">
            <textarea id="report_reply_reason" placeholder="请说明举报的原因......"></textarea>
        </div>
        <div class="modal-footer">
            <button id="report_reply_modal_close" class="btn">取消</button>
            <button id="report_reply_manager" class="btn btn-primary" data-reply-id="">举报</button>
        </div>
    </div>
{% endblock %}


{% block js_other %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/join_group_detail.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
    <!-- JiaThis Script BEGIN -->
    <script type="text/javascript">
        var jiathis_config = {
            hideMore: false
        }
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
     <!-- JiaThis Script END -->
    <script type="text/javascript">
    function join_success() {
        $("#join_group").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
        $("#quit_group").addClass("btn-primary").removeClass("disabled").attr('disabled', false);
        $.globalMessenger().post({
            message: "成功加入",
            hideAfter: 2,
            type: 'success',
            showCloseButton: true
        });
        location.reload();
    }
    function apply_join_success() {
        $("#apply_join_group_modal").modal("hide");
        $("#apply_join_modal_trigger").html("处理中...").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
        $.globalMessenger().post({
            message: "申请成功,等待管理员通过申请",
            hideAfter: 2,
            type: 'success',
            showCloseButton: true
        })
    }
    function apply_be_manager_success() {
        $("#apply_be_manager_modal").modal("hide");
        $("#apply_be_manager_modal_trigger").html("处理中...").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
        $.globalMessenger().post({
            message: "申请成功,等待管理员通过申请",
            hideAfter: 2,
            type: 'success',
            showCloseButton: true
        })
    }
    // 加入小组
    $(document).ready(function () {
        $("#join_group").click(function (e) {
            e.preventDefault();
            if ("{{ request.user.is_authenticated }}" === 'False') {    // 未登录
                $.globalMessenger().post({
                    message: "请先登录!",
                    hideAfter: 2,
                    type: 'error',
                    showCloseButton: true
                });
                return false;
            } else {
                if (confirm("确认加入该群组?")) {
                    $.ajax({
                        async: false,
                        url: "/group/ajax_join_group/",     //url: "{% url 'ajax_join_group' %}",
                        type: "POST",
                        data: {"group_id": $(this).data("group-id")},
                        dataType: "json",
                        success: join_success()
        //                                        fail: $.globalMessenger().post({
        //                                            message: "服务器错误,请稍后再试",
        //                                            hideAfter: 2,
        //                                            type: 'error',
        //                                            showCloseButton: true
        //                                        })
                    })
                }
            }

        });
        $("#apply_join_group").click(function (e) {
            e.preventDefault();
            if ("{{ request.user.is_authenticated }}" === 'False') {    // 未登录
                $.globalMessenger().post({
                    message: "请先登录!",
                    hideAfter: 2,
                    type: 'error',
                    showCloseButton: true
                });
                return false;
            } else {
                $.ajax({
                    async: false,
                    url: "/group/ajax_apply_join_group/",     //url: "{% url 'ajax_apply_join_group' %}",
                    type: "POST",
                    data: {"group_id": $(this).data("group-id"), "apply_reason": $("#apply_reason").val()},
                    dataType: "json",
                    success: apply_join_success()
                })
            }
        });

        // 申请成为管理员
        $("#apply_be_manager").click(function (e) {
            e.preventDefault();
            if ("{{ request.user.is_authenticated }}" === 'False') {    // 未登录
                $.globalMessenger().post({
                    message: "请先登录!",
                    hideAfter: 2,
                    type: 'error',
                    showCloseButton: true
                });
                return false;
            } else {
                $.ajax({
                    async: false,
                    url: "/group/ajax_apply_be_manager/",     //url: "{% url 'ajax_apply_join_group' %}",
                    type: "POST",
                    data: {"group_id": $(this).data("group-id"), "apply_reason": $("#apply_be_manager_reason").val()},
                    dataType: "json",
                    success: apply_be_manager_success()
                })
            }
        });
    });

        // 话题举报
        $('.report-topic').click(function(e){
            e.preventDefault();
            $('#report_topic_modal').modal('show');
        });
        $('#report_topic_modal_close').click(function(){
            $('#report_topic_modal').modal('hide');
        });
        $("#report_topic_manager").click(function () {
            $.ajax({
                async: false,
                url: "{% url 'ajax_report_topic' %}",     //url: "{% url 'ajax_apply_join_group' %}",
                type: "POST",
                data: {"topic_id": $(this).data("topic-id"), "reason": $("#report_topic_reason").val()},
                dataType: "json",
                success: function () {
                    $('#report_topic_modal').modal('hide');
                    $.globalMessenger().post({
                        message: "举报成功!",
                        hideAfter: 2,
                        type: 'success',
                        showCloseButton: true
                    })
                }

            })
        });
        // 对回复的举报
        $('.report-reply').click(function(e){
            e.preventDefault();
            $('#report_reply_manager').data('reply-id', $(this).attr('href'));
            $('#report_reply_modal').modal('show');
        });
        $('#report_reply_modal_close').click(function(){
            $('#report_reply_modal').modal('hide');
        });
        $("#report_reply_manager").click(function () {
            $.ajax({
                async: false,
                url: "{% url 'ajax_report_reply' %}",     //url: "{% url 'ajax_apply_join_group' %}",
                type: "POST",
                data: {"reply_id": $(this).data("reply-id"), "reason": $("#report_reply_reason").val()},
                dataType: "json",
                success: function () {
                    $('#report_reply_modal').modal('hide');
                    $.globalMessenger().post({
                        message: "举报成功!",
                        hideAfter: 2,
                        type: 'success',
                        showCloseButton: true
                    })
                }

            })
        });
        // 对话题回复
        $('.reply-topic').click(function(e){
            e.preventDefault();
            $('.reply_content').focus();
            $('body').scrollTo("#id_content");
        });
        // 对回复的回复
        $('.reply-reply').click(function(e){
            e.preventDefault();
            $('.reply_content').focus();
            $('body').scrollTo("#id_content");
            $('#id_reply_id').val($(this).data('reply_id'));
        });
        // 发送回复
{#        $('.btn_submit').click(function(e){#}
{#            e.preventDefault();#}
{#            var content = $('.reply_content').val();#}
{#            if ('{{ is_member }}' == 'False'){   // 非群组成员不能回复#}
{#                $.globalMessenger().post({#}
{#                    message: "要回复先加入群组吧!",#}
{#                    hideAfter: 2,#}
{#                    type: 'error',#}
{#                    showCloseButton: true#}
{#                });#}
{#            }else if(!content){#}
{#                $.globalMessenger().post({#}
{#                    message: "发送内容不能为空!",#}
{#                    hideAfter: 2,#}
{#                    type: 'error',#}
{#                    showCloseButton: true#}
{#                });#}
{#            }else{#}
{#                $('#reply-form').submit();#}
{#            }#}
{#        });#}
        $('.btn_submit').click(function(e){
            e.preventDefault();
            var content = $('.reply_content').val();
            if ('{{ request.user.is_authenticated }}' === 'False'){   // 未登录不能回复
                $.globalMessenger().post({
                    message: "登录后才能回复哦!",
                    hideAfter: 2,
                    type: 'error',
                    showCloseButton: true
                });
            }else if(!content){
                $.globalMessenger().post({
                    message: "发送内容不能为空!",
                    hideAfter: 2,
                    type: 'error',
                    showCloseButton: true
                });
            }else{
                $('#reply-form').submit();
            }
        });
        $(document).ready(function () {
            // 当前用户是否已经是该小组成员
            {% if is_member %}
                $("#join_group").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
                $("#apply_join_group").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
            {% else %}
                $("#quit_group").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
            {% endif %}

            // 当前用户的申请加入该群组的请求是否正在处理中
            {% if g.group_type == "private" and is_member_processing %}
                $("#apply_join_modal_trigger").html("加入群组...").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
            {% endif %}

            {% if is_manager_processing %}
                $("#apply_be_manager_modal_trigger").html("申请管理员...").removeClass("btn-primary").addClass("disabled").attr('disabled', true);
            {% endif %}

            //  点击打开申请加入群组modal
            $("#apply_join_modal_trigger").click(function(){
                $("#apply_join_group_modal").modal("show");
            });
            // 点击'取消'关闭申请加入群组modal
            $("#apply_modal_close").click(function(){
                $("#apply_join_group_modal").modal("hide");
            });

            // 点击打开申请成为管理员modal
            $("#apply_be_manager_modal_trigger").click(function(){
                $("#apply_be_manager_modal").modal("show");
            });
            // 点击'取消'关闭申请成为管理员modal
            $("#apply_be_manager_modal_close").click(function(){
                $("#apply_be_manager_modal").modal("hide");
            });
        })
    </script>
{% endblock %}