{% extends "topic_base.html" %}
{% load endless %}

{% block title %}
    我回复的话题
{% endblock %}

{% block descrition %}
    我回复的话题
{% endblock %}

{% block head_other %}
    {{ block.super }}
    <style type="text/css">
    .pagination a{
        padding-left: 3px;
        padding-right: 3px;
    }
    .pagination{
        margin-right: 0;
        text-align: right;
    }
    </style>
{% endblock %}

{% block left_content %}
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <tbody>
                {% paginate topics %}
                {% for t in topics %}
                    <tr>
                        <td><a href="{% url 'topic_detail' topic_id=t.id %}">{{ t.name }}</a></td>
                        <td><a href="{% url "profile_view" tid=t.creator.id %}">{{ t.creator }}</a></td>
                        <td>{{ t.reply_amount }}</td>
                        <td>{{ t.last_reply_add|date:"m-j H:i:s" }}</td>
                        <td><a href="{% url 'group_detail' t.group.id %}">{{ t.group.name }}</a></td>
                    </tr>
                {% endfor %}
                {% get_pages %}
                <div class="row-fluid">
                    <div class="span6"><h3>我回复的话题</h3></div>
                    <div class="span6">
                        <div class="span12 pull-right pagination">{{ pages }}</div>

                    </div>
                </div>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_other %}
    {{ block.super }}
    <script type="text/javascript">
    $("#topic_replied").addClass("active");  // 当前页
    </script>
{% endblock %}