{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block head_other %}
    <style type="text/css">
    .btn-register{
        width: 572px;
    }
    </style>
{% endblock %}

{% block main %}
    <form method="post" id="id_register_form">{% csrf_token %}
    <div class="container-fluid">
        <div class="span12">
            <div class="control-group">
                <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>{{ form.email }}</div>
                <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span>{{ form.username }}</div>
                <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>{{ form.password }}</div>
                <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>{{ form.password1 }}</div>
                <label class="checkbox"><input type="checkbox" id="id_terms">我已经阅读并同意<a href="">服务条款</a> </label>
                <button class="btn btn-primary btn-register">注册</button>
            </div>
        </div>
    </div>
    </form>
{% endblock %}

{% block js_other %}
    <script type="text/javascript">
        $('.btn-register').on('click',function(e){
            e.preventDefault();
            if ($('#id_terms').is(':checked')){  // 未同意服务条款不给提交
                var pass_check = true;
                // 验证用户名是否重复
                var username = $('#id_username').val();
                $.globalMessenger()['do']({
                    errorMessage: "服务器错误,请稍后重试!",
                    hideAfter: 2,
                    showCloseButton: true
                },{
                    url:"{% url 'username_check' %}",
                    data: {'username': username},
                    type:'post',
                    async: false,
                    success: function(res){
                        var res = JSON.parse(res);  // 将字符串转化为字典
                        if (res['error'] == 'error'){
                            pass_check = false;
                            return {type:'error', message:"用户名为空或者该用户名已经存在"};
                        }
                        return false;
                    }
                });
                // 验证邮箱格式
                var email = $('#id_email').val();
                if(pass_check){
                    $.globalMessenger()['do']({
                        errorMessage: "服务器错误,请稍后重试!",
                        action: function(){
                            var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                            if(!pattern.test(email)){
                                pass_check = false;
                                return $.globalMessenger().post({
                                        message:"邮箱为空或者格式错误",
                                        hideAfter: 2,
                                        type: 'error',
                                        showCloseButton: true
                                    });
                            }
                        }
                    });
                }

                // 验证邮箱是否已经被注册
                if(pass_check){
                    $.globalMessenger()['do']({
                        errorMessage: "服务器错误,请稍后重试!",
                        hideAfter: 2,
                        showCloseButton: true
                    },{
                        url:"{% url 'email_check' %}",
                        data: {'email': email},
                        type:'post',
                        async: false,
                        success: function(res){
                            var res = JSON.parse(res);  // 将字符串转化为字典
                            if (res['error'] == 'error'){
                                pass_check = false;
                                console.log('error');
                                return {type:'error', message:" 该邮箱已经被注册"};
                            }
                            return false;
                        }
                    });
                }

                // 验证密码是否一致
                if(pass_check){
                    $.globalMessenger()['do']({
                        errorMessage: "服务器错误,请稍后重试!",
                        action: function(){
                            var password = $('#id_password').val();
                            var password1 = $('#id_password1').val();
                            if (!password.length || !password1.length || password != password1){
                                pass_check = false;
                                return $.globalMessenger().post({
                                        message:"密码为空或者密码不一致",
                                        hideAfter: 2,
                                        type: 'error',
                                        showCloseButton: true
                                    });
                            }
                        }
                    });
                }
                if(pass_check){
                    $('#id_register_form').submit();  // 提交form
                }
            }else{
                $.globalMessenger().post({
                    message: "请阅读并同意服务条款!",
                    hideAfter: 2,
                    type: 'error',
                    showCloseButton: true
                });
                return false;
            }
        });
    </script>
{% endblock %}