{% extends 'base.html' %}

{% block title %}密码重置{% endblock %}

{% block head_other %}
    <style type="text/css">
    .errorlist{
        color:red;
    }
    .captcha img{
        float: left;
        width: 120px;
        height: 31px;
    }

    #id_captcha_1 {
        width: 100px;
        margin-left: 13px;
    }
    .js-captcha-refresh.btn.btn-link{
        padding-top: 0;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <form method="post" id="reset-password-form">{% csrf_token %}
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>{{ form.email }}</div>
                    <div class="captcha">{{ form.captcha }}</div>
                    <span class="errorlist">
                        {{ form.email.errors }}
                        {{ form.captcha.errors }}
                    </span>
                    <span class="refresh-captcha"><button class='js-captcha-refresh btn btn-info'>换一张</button></span>
                    <button id="reset-button" class="btn btn-primary btn-login" type="submit">重置密码</button>
                </form>
            </div>
            <div class="span4">
                <div class="aisde">
                    <p>> 还没有BOHOO帐号?<a href="{% url 'register' %}">立即注册</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_other %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('#reset-button').on('click', function(e){
            if(!$('#id_email').val() || !$('#id_captcha_1').val()){
                $('.errorlist').html("").append("<p>邮件和验证码都不能为空</p>");
                return false;
            }
            return true;
        })
    })
    </script>
{% endblock %}