{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block head_other %}
    <style type="text/css">
    .errorlist{
        color:red;
    }
    .captcha img{
        float: left;
        width: 120px;
        height: 31px;
    }
    #id_captcha_1 {
        width: 72px;
        margin-left: 13px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h2>重置密码</h2>
        <div class="row-fluid">
            <div class="span8">
                <form method="post" id="reset-password-form">{% csrf_token %}
                    <div class="password">{{ form.password }}</div>
                    <div class="help-block"><span class="password-help text-error">{{ form.password.errors }}</span></div>
                    <div class="password1">{{ form.password1 }}</div>
                    <div class="help-block"><span class="re-password-help text-error">{{ form.password1.errors }}</span></div>
                    <div class="captcha">{{ form.captcha }}</div>
                    <div class="help-block"><span class="text-error">{{ form.captcha.errors }}</span></div>
                    <span class="errorlist"></span>
                    <span class="refresh-captcha"><button class='js-captcha-refresh btn btn-info'>换一张</button></span>
                    <button id="reset-button" class="btn btn-primary btn-login" type="submit">修改密码</button>
                </form>
            </div>
            <div class="span4">
                <div class="aisde">
                    <p>请牢记新密码!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_other %}
    <script type="text/javascript">
        // 监听密码的输入,6个字符以上
        var password = document.getElementById('id_password');
        password.addEventListener('input', function () {
            if ($(this).val().length < 6) {
                $(".password-help").text("密码少于6个字符!");
            } else {
                $(".password-help").text("此密码可用!").removeClass('text-error').addClass('text-success');
            }
        }, false);

        // 监听重复密码,必须一致
        var password1 = document.getElementById('id_password1');
        password1.addEventListener('input', function () {
            if ($(this).val() !== password.value) {
                $(".re-password-help").text("两次输入不一致!");
            } else if ($(this).val().length < 6) {
                $(".re-password-help").text("密码少于6个字符!");
            } else if ($(this).val() === password.value && $(this).val().length >= 6) {
                $(".re-password-help").text("输入正确!").removeClass("text-error").addClass("text-success");
            }
        });
    $(document).ready(function(){
        $('#reset-button').on('click', function(e){
            if(!$('#id_password').val() || !$('#id_password1').val() || !$('#id_captcha_1').val()){
                $('.errorlist').html("").append("<p>密码和验证码都不能为空</p>");
                return false;
            }else if($('#id_password').val() != $('#id_password1').val()){
                $('.errorlist').html("").append("<p>两次输入密码不一致</p>");
                return false;
            }
            return true;
        })
    })
    </script>
{% endblock %}