{% extends 'base.html' %}

{% block title %}密码重置{% endblock %}

{% block head_other %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <h2>重置密码</h2>
                <span>
                    {% if invalid_reason == 'timeout' %}
                    请求超过1小时
                    {% elif invalid_reason == 'invalid_link' %}
                    该请求无效
                    {% endif %}
                    ,<a href="{% url 'reset_password_apply' %}">请重试</a>!
                </span>
            </div>
            <div class="span4">
                <div class="aisde">
                    <p>> 还没有BOHOO帐号?<a href="{% url 'register' %}">立即注册</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_other %}

{% endblock %}