{% extends 'people_base.html' %}
{% load avatar_tags %}

{% block title %}编辑个人资料-BOHOO{% endblock %}

{% block description %}编辑用户资料{% endblock %}

{% block head_other %}
    <style type="text/css">
    .profile-box{
        margin: 0 0 25px;
        clear: both;
        border-radius: 4px;
        border: 2px solid #ddd;
        box-shadow: 0 1px 0 #f2f4f5;
    }
    .profile-box-module{
        position: relative;
        padding: 20px 12px;
    }
    .profile-box-module+.profile-box-module{
        border-top: 1px solid #ddd;;
    }
    .avatar img{
        padding-bottom: 14px;
    }
    .sex ul{
        list-style-type: none;
    }
    .sex ul li{
        display: inline-block;
        margin-left: 5px;
        margin-right: 10px;
    }
    </style>
{% endblock %}

{% block js_other %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.chained.min.js"></script>
    <script type="text/javascript" src={{ STATIC_URL }}js/cities.js></script>  //引进cities数据
    <script type="text/javascript">
    // 国家-州省-市县 的三级联动
    $(document).ready(function(){
        $("#id_country").append(
                "<option value='中国' class='china'>中国</option>"+
                "<option value='其他' class='china'>其他</option>"
        );
        var provinces = eval(cities.provinces);
        for (var i = 0; i < provinces.length; i++){
            if (provinces[i].name != "海外"){
                $('#id_state').append("<option value='"+ provinces[i].name + "' class='中国'>" + provinces[i].name + "</option>");
            }else{
                $('#id_state').append("<option value='"+ provinces[i].name + "' class='其他'>" + provinces[i].name + "</option>");

            }
            $('#id_state').append("<option value='"+ provinces[i].name + "' class='" + provinces[i].name + "'>" + provinces[i].name + "</option>");
            var city = eval(provinces[i].citys);
            for (var j = 0; j < city.length; j ++){
                $("#id_city").append("<option value='"+ city[j].city + "' class='" + provinces[i].name + "'>" + city[j].city + "</option>");
            }
        }
        $("#id_state").chained("#id_country");
        $("#id_city").chained("#id_state");

    })
    </script>
{% endblock %}

{% block left_content %}
    <div class="row-fluid profile-box">
        <div class="profile-box-module">
            <div class="span3">
                <span class="text-info">资料完整度</span>
            </div>
            <div class="span9">
                <div class="progress progress-info">
                    <div class="bar" style="width: 20%;">20%</div> <!-- 进度条 -->
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid profile-box">
        <div class="profile-box-module">
            <div class="span6">
                <span class="pull-left"><a href="#">{{ request.user.username }}</a>
                    <i class="icon-double-angle-right"></i>编辑个人资料</span>
            </div>
            <div class="span6">
                <span class="pull-right"><a href="#">返回个人主页</a></span>
            </div>
        </div>
    </div>

    <div class="row-fluid profile-box">
        <div class="profile-box-module">
            <div class="span3">
                <span class="text-info">头像</span>
            </div>
            <div class="span3 avatar">
                {% avatar request.user %}
            </div>
            <div class="span6">
                <span><a href="{% url 'avatar_change' %}">修改头像</a></span>
                <span><a href="{% url 'avatar_delete' %}">删除头像</a></span>
            </div>
        </div>
    </div>

<form method="post">
    <div class="profile-box">
        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span2">
                            <span class="text-info">{{ form.sign.label }}</span>
                        </div>
                        <div class="span10">
                            {{ form.sign }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.last_name.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.last_name }}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.first_name.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.first_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.sex.label }}</span>
                        </div>
                        <div class="span8 sex">
                            {{ form.sex }}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.birthday.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.birthday }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.job.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.job }}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.phone_number.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.phone_number }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.qq.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.qq }}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.weibo.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.weibo }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.country.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.country }}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.state.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.state }}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">{{ form.city.label }}</span>
                        </div>
                        <div class="span8">
                            {{ form.city }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span12">
                    {% csrf_token %}<input class="btn btn-primary btn-block" type="submit" value="保存">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block right_content %}
<!-- TODO: 右边栏 -->
{% endblock %}