{% extends 'people_base.html' %}
{% load avatar_tags %}

{% block title %}{{ request.user.username }}--个人资料{% endblock %}

{% block descrition %}{{ request.user.username }}--个人资料{% endblock %}

{% block head_other %}
    <style type="text/css">
    .profile-box{
        margin: 0 0 25px;
        clear: both;
        border-radius: 4px;
        border: 2px solid #ddd;
        box-shadow: 0 1px 0 #f2f4f5;
    }
    .profile-box-module{
        position: relative;
        padding: 20px 12px;
    }
    .profile-box-module+.profile-box-module{
        border-top:1px solid #ddd;
    }
    .avatar img{
        padding-bottom: 14px;
    }
    </style>
{% endblock %}

{% block left_content %}
{#    <div class="row-fluid profile-box">#}
{#        <div class="profile-box-module">#}
{#            <div class="span3">#}
{#                <span class="text-info">资料完整度</span>#}
{#            </div>#}
{#            <div class="span9">#}
{#                <div class="progress progress-info">#}
{#                    <div class="bar" style="width: 20%;">20%</div> <!-- 进度条 -->#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row-fluid profile-box">
        <div class="profile-box-module">
            <div class="span4">
                <span class="pull-left"><a href="#">{{ user.username }}</a>
                    <i class="icon-double-angle-right"></i>个人资料</span>
            </div>
            <div class="span4 avatar">
                {% avatar user %}
            </div>
            <div class="span4">
                <span class="pull-right"><a href="{% url 'reset_password' user_id=request.user.id %}">修改密码</a></span>
            </div>
{#            <div class="span2">#}
{#                <span class="pull-right"><a href="{% url 'profile_edit' %}">编辑个人资料</a></span>#}
{#            </div>#}
        </div>
    </div>

    <div class="profile-box">
        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span2">
                            <span class="text-info">签名</span>
                        </div>
                        <div class="span10">
                            {% if user.sign %}
                                {{ user.sign }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="profile-box-module">#}
{#            <div class="row-fluid">#}
{#                <div class="span6">#}
{#                    <div class="row-fluid">#}
{#                        <div class="span4">#}
{#                            <span class="text-info">姓</span>#}
{#                        </div>#}
{#                        <div class="span8">#}
{#                            {% if user.last_name %}#}
{#                                {{ user.last_name }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="span6">#}
{#                    <div class="row-fluid">#}
{#                        <div class="span4">#}
{#                            <span class="text-info">名</span>#}
{#                        </div>#}
{#                        <div class="span8">#}
{#                            {% if user.first_name %}#}
{#                                {{ user.first_name }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">性别</span>
                        </div>
                        <div class="span8 sex">
                            {% if user.sex %}
                                {{ user.sex }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">职业</span>
                        </div>
                        <div class="span8">
                            {% if user.job %}
                                {{ user.job }}
                            {% endif %}
                        </div>
                    </div>
                </div>
{#                <div class="span6">#}
{#                    <div class="row-fluid">#}
{#                        <div class="span4">#}
{#                            <span class="text-info">生日</span>#}
{#                        </div>#}
{#                        <div class="span8">#}
{#                            {% if user.birthday %}#}
{#                                {{ user.birthday|date:"Y-m-d" }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">职业</span>
                        </div>
                        <div class="span8">
                            {% if user.job %}
                                {{ user.job }}
                            {% endif %}
                        </div>
                    </div>
                </div>
{#                <div class="span6">#}
{#                    <div class="row-fluid">#}
{#                        <div class="span4">#}
{#                            <span class="text-info">电话号码</span>#}
{#                        </div>#}
{#                        <div class="span8">#}
{#                            {% if user.phone_number %}#}
{#                                {{ user.phone_number }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

{#        <div class="profile-box-module">#}
{#            <div class="row-fluid">#}
{#                <div class="span6">#}
{#                    <div class="row-fluid">#}
{#                        <div class="span4">#}
{#                            <span class="text-info">QQ</span>#}
{#                        </div>#}
{#                        <div class="span8">#}
{#                            {% if user.qq %}#}
{#                                {{ user.qq }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="span6">#}
{#                    <div class="row-fluid">#}
{#                        <div class="span4">#}
{#                            <span class="text-info">微博</span>#}
{#                        </div>#}
{#                        <div class="span8">#}
{#                            {% if user.weibo %}#}
{#                                 {{ user.weibo }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="profile-box-module">
            <div class="row-fluid">
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">国家</span>
                        </div>
                        <div class="span8">
                            {% if user.country %}
                                {{ user.country }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">州省</span>
                        </div>
                        <div class="span8">
                            {% if user.state %}
                                {{ user.state }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span4">
                            <span class="text-info">市县</span>
                        </div>
                        <div class="span8">
                            {% if user.city %}
                                {{ user.city }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <!-- TODO: 右边栏 -->
{% endblock %}

