{% extends "base.html" %}
{% load compress avatar_tags %}

{% block descrition %}Bohoo首页{% endblock %}
{% block title %}Bohoo首页{% endblock %}

{% block head_other %}
    <style type="text/css">
    .btn-register, .btn-signup-weibo, .btn-signup-qq{
        width: 247px;
    }
    .btn-signup-weibo{
        margin-bottom: 20px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                {# 网站功能描述 #}
                <p class="text-info">网站介绍1</p>
                <p class="text-info">网站介绍2</p>
                <p class="text-info">网站介绍3</p>
                <p class="text-info">网站介绍4</p>
                <p class="text-info">网站介绍5</p>
            </div>
            <div class="span4">
                <div class="control-group">
                    <form method="post" id="id_register_form">{% csrf_token %}
                        <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>{{ form.email }}</div>
                        <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span>{{ form.username }}</div>
                        <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>{{ form.password }}</div>
                        <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>{{ form.password1 }}</div>
                        <label class="checkbox"><input type="checkbox" id="id_terms">我已经阅读并同意<a href="">服务条款</a> </label>
                        <button class="btn btn-primary btn-register">注册</button>
                    </form>
                        <button class="btn btn-primary btn-signup-weibo">微博帐号注册</button>
                        <button class="btn btn-primary btn-signup-qq">qq帐号注册</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    	{% for user in users %}
        <div class="row pull-left">
            <div class="span4">
                <header>{{ user }}</header>
                <img src="{% avatar_url user 45 %}" />
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
